---
---

@import "";

table {
  margin-bottom: $spacing-unit;
  width: 50%;
  text-align: $table-text-align;
  color: $table-text-color;
  border-collapse: collapse;
  tr {
    &:nth-child(even) {
      background-color: $table-zebra-color;
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
    text-align: center;
  }
  th {
    background-color: $table-header-bg-color;
  }

  @include media-query($on-laptop) {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
  }
